body {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.grid-container {
    display: grid;
    max-width: 500px;
    max-height: 500px;
    border-style: solid;
    border-color: darkslategrey;
    grid-template-columns: repeat(3, .25fr);
    grid-template-rows: repeat(4, .25fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    margin: auto;
    padding: 10px;
    position: relative;
    
}

.grid-container > button {
    background-color: rgb(161, 226, 205);
    border-style: solid;
    border-width: 2px;
    border-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}

.display {
    grid-column-start: 1;
    grid-column-end: end;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
    background-color: rgb(206, 233, 224);
} 

